<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <title>>Title</title>
    <link rel="stylesheet" href="../static/css/fragments.css" th:href="@{/css/fragments.css}">

</head>
<body>
 <!-- big header start -->
 <div id=header_L th:fragment="home_header">
        <div class="top_nav">
            <div class="searchbar"><input type="text" id="header_searchbar" placeholder="Search"></div>
            <div class="top_nav_links">
                 <a th:href="@{/login}">Login</a>
                <a th:href="@{/register}">Register</a>
            </div>
        </div>
        <div id="main_title">
            <h1>Page title</h1>
        </div>
        <div id=img_and_title_container>

            <div class="hero_image_container_l"> <img id="hero1" src="../static/images/hero1.jpg" th:src="@{/images/hero1.jpg}"> <img id="hero2" src="../static/images/hero2.jpg" th:src="@{/images/hero2.jpg}"><img id="hero3" src="../static/images/hero3.jpg" th:src="@{/images/hero3.jpg}"><img id="hero4" src="../static/images/hero4.jpg" th:src="@{/images/hero4.jpg}"></div>
        </div>
        <div class=main_navigation>
            <div class=main_nav_links id=nav_link1><a href="">Category 1</a> </div>
            <div class=main_nav_links id=nav_link2><a href="">Category 2</a> </div>
            <div class=main_nav_links id=nav_link3><a href="">Category 3</a> </div>
        </div>
    </div>
    <!-- big header end -->
    
     <!--regular header start -->
<div id="header_M" th:fragment="header">
        <div class="top_nav">
            <div class="searchbar"><input type="text" id="header_searchbar" placeholder="Search"></div>
            <div class="top_nav_links">
                <a href="">Login</a>
                <a href="">Register</a>
            </div>
        </div>
        <div id="main_title">
            <h1>Page title</h1>
        </div>
        <div id=img_and_title_container>

            <div class="hero_image_container_m"> <img id="hero" src="../static/images/hero_small.jpg" th:src="@{/images/phero_small.jpg}"> </div>
        </div>
        <div class=main_navigation>
            <div class=main_nav_links id=nav_link1><a href="">Category 1</a> </div>
            <div class=main_nav_links id=nav_link2><a href="">Category 2</a> </div>
            <div class=main_nav_links id=nav_link3><a href="">Category 3</a> </div>
        </div>
    </div>
    <!-- rehular header end -->
    
     <!--small header start -->

    <!-- small header end -->
    
    
    
    <!-- footer start -->
    <footer th:fragment="footer">
        <div class="footer_nav_links"> </div>
    </footer>
    <!-- footer end -->

</body>
</html>